<ubl-navbar></ubl-navbar>
<div class="container-fluid">
    <div class="row">
        <ubl-menu></ubl-menu>
        <div class="main-wrapper" [ngClass]="{'menu-collapsed': isMenuCollapsed}">
            <div class="az-overlay" *ngIf="!isMenuCollapsed" (click)="hideMenu()"></div>

            <div class="main">
                <ubl-breadcrumb></ubl-breadcrumb>
                <router-outlet></router-outlet>
            </div>

            <footer class="footer text-center clearfix">
                <div class="footer-main pull-left  clearfix">
                    <div class="copyright pull-left"><strong >&copy; USBlick - 2017</strong></div>
                </div>
            </footer>
            <ubl-back-top position="200"></ubl-back-top>
        </div>
    </div>
</div>