<div *ngIf="client">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-12"></div>
    <div class="col-xl-8 col-lg-8 col-12 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span>Update Client</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">

          <form novalidate (ngSubmit)="onSubmit(form1)" [formGroup]="form1">
              <div class="form-group">
                  <label for="first_name">First Name (*)</label>
                  <input type="text" formControlName="first_name" id="first_name" class="form-control" name="first_name" autocomplete="off" ng-maxlength="60" required>
                  <div class="col-sm-8 text-left">
                      <span class="help-block text-danger" *ngIf="form1.get('first_name').touched && (form1.get('first_name').hasError('required') || form1.get('first_name').hasError('invalid'))">This field is required.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('first_name').touched && form1.get('first_name').hasError('maxlength')">This field requires less than 60 chars.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('first_name').touched && form1.get('first_name').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('first_name').touched && form1.get('first_name').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                  </div>
              </div>
              <div class="form-group">
                  <label for="last_name">Last Name (*)</label>
                  <input type="text" formControlName="last_name" id="last_name" class="form-control" name="last_name" autocomplete="off" ng-maxlength="60" required>
                  <div class="col-sm-8 text-left">
                      <span class="help-block text-danger" *ngIf="form1.get('last_name').touched && (form1.get('last_name').hasError('required') || form1.get('last_name').hasError('invalid'))">This field is required.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('last_name').touched && form1.get('last_name').hasError('maxlength')">This field requires less than 60 chars.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('last_name').touched && form1.get('last_name').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('last_name').touched && form1.get('last_name').hasError('tooManyWords')">Too many words. This field admits three words or less.</span>
                  </div>
              </div>
              <div class="form-group">
                  <label for="birth_date">Birth Date (*) </label>
                  <input class="form-control" ngui-datetime-picker formControlName="birth_date" placeholder="YYYY-MM-DD" date-format="YYYY-MM-DD" date-only=true name="birth_date" required>
                  <div class="col-sm-8 text-left">
                      <span class="help-block text-danger" *ngIf="form1.get('birth_date').touched && (form1.get('birth_date').hasError('required') || form1.get('birth_date').hasError('invalid'))">This field is required.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('birth_date').touched && form1.get('birth_date').hasError('invalidFutureDate')">Future date.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('birth_date').touched && form1.get('birth_date').hasError('invalidDateDayRange')">Invalid Day.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('birth_date').touched && form1.get('birth_date').hasError('invalidDateYearRange')">Invalid Year.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('birth_date').touched && form1.get('birth_date').hasError('invalidUnderAge')">Clients must be 18 or older.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('birth_date').touched && form1.get('birth_date').hasError('invalidDateFormat')">Invalid date format. Must be YYYY-MM-DD</span>
                  </div>
              </div>
              <div class="form-group">
                      <label for="email">E-mail (*)</label>
                      <input type="text" formControlName="email" id="email" class="form-control" name="email" autocomplete="off" ng-maxlength="40" required>
                      <div class="col-sm-8 text-left">
                          <span class="help-block text-danger" *ngIf="form1.get('email').touched && form1.get('email').hasError('required')">This field is required</span>
                          <span class="help-block text-danger" *ngIf="form1.get('email').touched && form1.get('email').hasError('invalidEmail')">Invalid email. Format.: user@domain.com</span>
                          <span class="help-block text-danger" *ngIf="form1.get('email').touched && form1.get('email').hasError('maxlength')">This field requires less than 40 chars.</span>
                      </div>
                  </div><!-- End class form-group email-->
              <div class="form-group">
                  <label for="phone">Phone (*)</label>
                  <input type="text" formControlName="phone" id="phone" class="form-control" name="phone" ng-maxlength="15" required>
                  <div class="col-sm-8 text-left">
                  <span class="help-block text-danger" *ngIf="form1.get('phone').touched && form1.get('phone').hasError('required')">This field is required.</span>
                  <span class="help-block text-danger" *ngIf="form1.get('phone').touched && form1.get('phone').hasError('invalidcellphone')">Pattern invalid, must be +00 000-0000000.</span>
                  <span class="help-block text-danger" *ngIf="form1.get('phone').touched && form1.get('phone').hasError('maxlength')">This field requires less than 10 numbers.</span>
                  </div>
              </div>
              <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" formControlName="country" id="country" class="form-control" name="country" ng-maxlength="60" autocomplete="off">
                  <div class="col-sm-8 text-left">                            
                      <span class="help-block text-danger" *ngIf="form1.get('country').touched && form1.get('country').hasError('maxlength')">This field requires less than 60 chars.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('country').touched && form1.get('country').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                  </div>
              </div>        
              <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" formControlName="state" id="state" class="form-control" name="state" ng-maxlength="60" autocomplete="off">
                  <div class="col-sm-8 text-left">                            
                      <span class="help-block text-danger" *ngIf="form1.get('state').touched && form1.get('state').hasError('maxlength')">This field requires less than 60 chars.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('state').touched && form1.get('state').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>                            
                  </div>
              </div>        
              <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" formControlName="city" id="city" class="form-control" name="city" ng-maxlength="60" autocomplete="off">
                  <div class="col-sm-8 text-left">                            
                      <span class="help-block text-danger" *ngIf="form1.get('city').touched && form1.get('city').hasError('maxlength')">This field requires less than 60 chars.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('city').touched && form1.get('city').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>                            
                  </div>
              </div>        
              <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" formControlName="address" id="address" class="form-control" name="address" ng-maxlength="60" autocomplete="off">
                  <div class="col-sm-8 text-left">                            
                      <span class="help-block text-danger" *ngIf="form1.get('address').touched && form1.get('address').hasError('maxlength')">This field requires less than 60 chars.</span>
                      <span class="help-block text-danger" *ngIf="form1.get('address').touched && form1.get('address').hasError('invalidString')">This field only admits letters from a-z and A-Z.</span>
                  </div>
              </div>
              <span>(*) Required.</span>
              <div class="row justify-content-center">
                  <button type="submit" class="btn btn-primary" [disabled]="!form1.valid">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
