<div class="login-container-1">
	<div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1">
		<div class="card-login">
			<div class="card-block text-center">
				<h2 class="card-title">Sign in to <strong>Usblick</strong></h2>

				<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class=" text-left">
					<div class="form-group">
						<input [formControl]="email" class="form-control checking-field" placeholder="Email" type="email">
						<span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</span>
						<span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">Invalid email address</span>
					</div>
					<div class="form-group">
						<input [formControl]="password" class="form-control checking-field" placeholder="Password" type="password">
						<span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>
						<span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
					</div>
					<div class="form-group">
						<button [disabled]="!form.valid" class="btn btn-main btn-block cursor-pointer" type="submit">
              <i class="fa fa-sign-in"></i>&nbsp;
              Sign in
            </button>
					</div>
					<div>
						<a (click)="_recover($event)" href="#">
              Forgot password?
            </a>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>